@import "antd/dist/antd.css";
@import "./antd-colors.scss";
@import "./navbar.scss";
@import "./all-members.scss";
@import "./member-form-public.scss";
@import "./member-form-private.scss";
@import "./member-form-insight.scss";
@import "./keyword-selector.scss";
@import "./keyword-tag.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

.next-page-container {
  padding: 12px;
}

@media screen and (min-width: 600px) {
  .next-page-container {
    padding: 12px 24px;
  }
}

.table-row {
  cursor: pointer;
  height: 65px;

  &.even {
    background-color: var(--gray-2);
  }
}

// Override
.ant-table-cell-row-hover.ant-table-cell-row-hover.ant-table-cell-row-hover.ant-table-cell-row-hover {
  background-color: var(--blue-1);
}

// Override
.ant-table-thead th.ant-table-column-has-sorters:hover {
  background-color: var(--blue-1);
}
