.all-partners-table {
  // Make new stacking context so popups go under navbar
  position: relative;
  z-index: 0;

  .header-title-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 24px;

    h1 {
      margin: 0;
    }

    button {
      margin-left: auto;
      flex-basis: 200px;
      
      
    }
  }

  .filters {
    .ant-form-item {
      margin-top: 2px;
      margin-bottom: 6px;
    }

    //Override
    .ant-form-item-label {
      padding: 0;
    }

    > label {
      display: inline-block;
    }

    > label,
    .ant-form-item label {
      width: 12.7rem;
    }

    .name-filter,
    .scope-filter,
    .type-filter {
      width: 100%;

      .ant-select-selector {
        width: 100%;
      }
    }

    .show-column-checkboxes {
      // Override
      .ant-checkbox-wrapper {
        margin: 0;
      }
      display: inline-flex;
      flex-wrap: wrap;
      column-gap: 8px;
    }
  }

  // Override
  .ant-table-column-sort {
    background: inherit;
  }

  // Override
  .ant-table-row-expand-icon-cell,
  .ant-table-expand-icon-col {
    width: 36px !important;
  }

  .table-row,
  .expanded-table-row {
    height: 65px;

    &.odd {
      background-color: var(--gray-3);
    }
  }

  .table-row:hover {
    background-color: var(--blue-1);

    + .expanded-table-row {
      background-color: var(--blue-1);
    }
  }

  .tag-column {
    max-width: 50vw;
    min-width: 400px;
  }

  .name-column,
  .type-column, .scope-column {
    min-width: 120px;
    max-width: 12vw;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: normal;
  }


}

@media screen and (min-width: 700px) {
  .all-partners-table {
    .header-title-row button {
      flex-grow: 0;
    }
  }
}

@media screen and (min-width: 1200px) {
  .all-partners-table {
    .tag-column {
      max-width: 70vw;
    }
  }
}

@media screen and (min-width: 1600px) {
  .all-partners-table {
    .tag-column {
      max-width: 80vw;
    }
  }
}


