.all-members-table {
  // Override
  .ant-table-column-sort {
    background: inherit;
  }

  // Override
  .ant-table-row-expand-icon-cell,
  .ant-table-expand-icon-col {
    width: 36px !important;
  }

  .table-row,
  .expanded-table-row {
    height: 65px;

    &.odd {
      background-color: var(--gray-3);
    }
  }

  .table-row:hover {
    background-color: var(--blue-1);

    + .expanded-table-row {
      background-color: var(--blue-1);
    }
  }

  .tag-column {
    max-width: 50vw;
    min-width: 400px;
  }

  .name-column {
    min-width: 120px;
    max-width: 12vw;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: normal;
  }

  .name-column-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 6px;

    input {
      min-width: 0;
      max-width: 120px;

      &::placeholder {
        color: black;
      }
    }

    .sort-caret {
      display: flex;
      justify-content: center;
      flex-grow: 1;
    }
  }

  .problems-container {
    padding-left: 48px;
    padding-right: 20px;
    max-width: 90vw;
  }
}

@media screen and (min-width: 1200px) {
  .all-members-table {
    .tag-column {
      max-width: 70vw;
    }
  }
}

@media screen and (min-width: 1600px) {
  .all-members-table {
    .tag-column {
      max-width: 80vw;
    }
  }
}
