.all-accounts-table {
  .table-row {
    cursor: pointer;

    &.even {
      background-color: var(--gray-2);
    }
  }

  .first-name-column,
  .last-name-column {
    font-size: 0.7rem;
    width: min-content;
    max-width: 22vw;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: normal;
  }
}

@media screen and (min-width: 700px) {
  .all-accounts-table {
    .first-name-column,
    .last-name-column {
      font-size: inherit;
    }
  }
}
