@import "antd/dist/antd.css";
@import "./antd-colors.scss";
@import "../components/navbar/@navbar.scss";

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.edit-account {
  label {
    width: 200px;
    display: inline-block;
  }
  input {
    width: calc(95vw - 200px);
    display: inline-block;
  }
  input[type="checkbox"] {
    width: auto;
  }
}
