.save-changes-modal {
  .ant-modal-confirm-btns {
    display: none;
  }
  .ant-modal-confirm-content.ant-modal-confirm-content.ant-modal-confirm-content {
    margin: 0;
  }

  .button-container {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 4%;
  }

  button {
    flex-grow: 1;
    flex-basis: 0;
  }
}
